"*":
  "autocomplete-plus":
    enableAutoActivation: false
    useCoreMovementCommands: false
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    destroyEmptyPanes: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.pyc"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "symbols-view"
    ]
    projectHome: "/home/farpi/workspace/"
    telemetryConsent: "no"
  editor:
    fontFamily: "Meslo\\ LG\\ S\\ DZ\\ for\\ Powerline"
    fontSize: 15
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "9a069ef6-f94a-9b02-a10e-924fa1c2ae1f"
  linter:
    showErrorPanel: false
  minimap: {}
  "one-dark-ui": {}
  "project-manager":
    showPath: false
  "relative-numbers": {}
  "vim-mode-plus":
    ignoreCaseForSearch: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
