'atom-text-editor':
  'ctrl-b': 'symbols-view:toggle-file-symbols'
  'ctrl-n': 'autocomplete-plus:activate'
  'alt-e': 'emmet:expand-abbreviation'

'body':
  'ctrl-q': 'unset!'
  'ctrl-n': 'unset!'
  'ctrl-s': 'editor:save-and-exit-of-insert-mode'

'.editor.vim-mode-plus.normal-mode':
  'space': 'editor:toggle-current-row-folding'
  'ctrl-j': 'editor:add-selection-below'
  'ctrl-k': 'editor:add-selection-above'

'.editor.vim-mode-plus.insert-mode':
  'ctrl-e': 'editor:move-to-end-of-screen-line'

'body atom-text-editor.autocomplete-active':
  'ctrl-k': 'autocomplete-plus:move-up'
  'ctrl-j': 'autocomplete-plus:move-down'
