# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.jsx':
  'Component':
    'prefix': 'comp'
    'leftLabel': 'Componente react'
    'body': """
/*
 * Project: ${1}
 * Module: ${2}
 * vim:ft=javascript.jsx:
 * @flow
 */
import React, {PropTypes} from 'react'

type Props = {}

class ${3} extends React.Component {

  props: Props

  render() {
    return (
      <div className="$3">
        $3$4
      </div>
	  )
  }
}

export default $3

    """
  'Log':
    'prefix': 'log'
    'body': "console.log($1);$2"
    'leftLabel': 'Console log'

'.source.js':
  'Comment':
    'prefix': 'com'
    'body': """
/*****************************************************************************/
/* $1
/*****************************************************************************/
$2
"""
