###############################################################################
# JSX
###############################################################################
'.source.jsx':
  'Component':
    'prefix': 'comp'
    'leftLabel': 'Componente react'
    'body': """
/*
 * Project: ${1}
 * Module: ${2}
 * vim:ft=javascript.jsx:
 * @flow
 */
import React, {PropTypes} from 'react'

type Props = {}

class ${3} extends React.Component {

  props: Props

  render() {
    return (
      <div className="$3">
        $3$4
      </div>
	  )
  }
}

export default $3

    """
  'Log':
    'prefix': 'log'
    'body': "console.log($1);$2"
    'leftLabel': 'Console log'
  'Eslint: no-did-mount-set-state':
    'prefix': 'ndm'
    'body': '/* eslint react/no-did-mount-set-state: [0] */'

###############################################################################
# Javascript
###############################################################################
'.source.js':
  'Comment':
    'prefix': 'com'
    'body': """
/*****************************************************************************/
/* $1
/*****************************************************************************/
$2
"""

###############################################################################
# Python
###############################################################################
'.source.python':
  'Sbu':
    'prefix': 'sbu'
    'body': """
#!/usr/bin/env python
# encoding: utf-8
# vim:ft=python.django:
# --------------------------------------------------------------------------
$2
"""
  'Comment':
    'prefix': 'cm'
    'body': "\"\"\"$1\"\"\"$2"
